# Use trusty for better performance (and avoiding mysql/postgres/solr gone issues on precise and container infra)
dist: trusty
sudo: required

language: php

services:
  - mysql

# Mysql isn't installed on trusty (only client is), so we need to specifically install it
addons:
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6

cache:
  directories:
    - $HOME/.composer/cache/files

env:
  global:
    # For functional and acceptance tests
    - COMPOSE_FILE="doc/docker/base-dev.yml:doc/docker/selenium.yml"
    - PROJECT_VERSION=^4.0.x-dev

matrix:
  fast_finish: true
  include:
# 7.3
    - name: "PHP 7.3 REST Integration Tests"
      php: 7.3
      env: 
        - REST_TEST_CONFIG="phpunit-integration-rest.xml"
        - APP_ENV=dev 
        - APP_DEBUG=1 
        - SF_CMD="ez:behat:create-language 'pol-PL' 'Polish (polski)'"
        - WEB_HOST=web

# test only master, stable branches and pull requests
branches:
  only:
    - master
    - /^\d.\d+$/

# setup requirements for running unit/integration/behat tests
install:
  # Disable memory_limit for composer
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  # Prepare system
  - travis_retry composer install --prefer-dist --no-interaction --no-suggest
  - ./vendor/bin/prepare_project_edition.sh oss ${PROJECT_VERSION} ${COMPOSE_FILE}
  # Execute Symfony command if specified
  - cd "$HOME/build/project"; docker-compose exec --user www-data app sh -c "APP_ENV=behat php bin/console $SF_CMD"
  # Detecting timezone issues by testing on random timezone
  - TEST_TIMEZONES=("America/New_York" "Asia/Calcutta" "UTC")
  - TEST_TIMEZONE=${TEST_TIMEZONES["`shuf -i 0-2 -n 1`"]}

# execute phpunit or behat as the script command
script:
  - cd "$HOME/build/project"; docker-compose exec app sh -c "cd ezsystems/ezplatform-rest && composer update && php ./vendor/bin/phpunit -c phpunit-integration-rest.xml"

notifications:
  slack:
    rooms:
      - secure: EesyExipldfURHELpH76Dp31/CePOvkJAjg9sw1OF/FdNtuAiOr9LzU3xmVDrZRJwVgjtyfHS/RqwrkS883ohZVo4p38uA+XsMDjWJ/KzGzQGpqFivPH3hv3MUjaHjASokF9ChbBhwp0RY/bCiRSaKEAuHmVJnbFU7C81Pd0Fr7ObSc0GrhMX728VFX38I8RLzaYG656nrUszHGkER8Mz8y0QYdSbxQhfiN67d2+U1e/sZaY44nP4MDPKkqTkIDLb8e/wgGT97Lj05KHTXps7UVsJLQeQ14dSmAQKo6QMAz+LEz+/Rd3JN9B50D4pbU/gM0L1JbNcsb4D2asXWP3ZHF0EaZQ0uv1n5pOgw1DJEdTa6VsbM+r4Wbq/PE+IdZoIBZTyojWKD/tbzUapd6kX2fOq0DyZaUCvXNEIAOPbwfI/TstLtbU7eWBwzTsdW5V5PTcRqxjpCtzxMeNlarNWDzWP97nkgf7xErOkiMGE4g8wyaKqFG4EBDilQNzmUCqRKdgNUXmxxD7oxU0c6t8qnrp7mpud+jm3u0VoQKzNCDOLTZyA6k3Vd/lGwm3VKMfadi0x/Ssy5JE0mNcA9b4Vrt2fn/iAHMLf/qop3m49evaY9ytyiEmux/mFpFL3LiCrmGac/rqDL4h0eCjeQFuKfJJwu7RKuvHhsXX7yrOvaU=
    on_success: change
    on_failure: always
    on_pull_requests: false

# reduce depth (history) of git checkout
git:
  depth: 30
