parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$filename of function file_put_contents expects string, string\\|false given\\.$#"
			count: 1
			path: src/lib/FieldTypeProcessor/BinaryInputProcessor.php

		-
			message: "#^Access to an undefined property DOMNode\\:\\:\\$data\\.$#"
			count: 2
			path: src/lib/Input/Handler/Xml.php

		-
			message: "#^Access to an undefined property DOMNode\\:\\:\\$tagName\\.$#"
			count: 2
			path: src/lib/Input/Handler/Xml.php

		-
			message: "#^Access to an undefined property DOMNode\\:\\:\\$wholeText\\.$#"
			count: 2
			path: src/lib/Input/Handler/Xml.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: src/lib/Input/Handler/Xml.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:hasAttribute\\(\\)\\.$#"
			count: 1
			path: src/lib/Input/Handler/Xml.php

		-
			message: "#^Parameter \\#1 \\$domElement of method EzSystems\\\\EzPlatformRest\\\\Input\\\\Handler\\\\Xml\\:\\:parseFieldTypeHash\\(\\) expects DOMElement, DOMNode given\\.$#"
			count: 1
			path: src/lib/Input/Handler/Xml.php

		-
			message: "#^Parameter \\#1 \\$array of function array_slice expects array, iterable\\<eZ\\\\Publish\\\\API\\\\Repository\\\\Values\\\\Content\\\\Relation\\> given\\.$#"
			count: 1
			path: src/lib/Server/Controller/Content.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/Server/Controller/Content.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$arrays of function array_merge expects array, iterable\\<eZ\\\\Publish\\\\API\\\\Repository\\\\Values\\\\ContentType\\\\ContentType\\> given\\.$#"
			count: 1
			path: src/lib/Server/Controller/ContentType.php

		-
			message: "#^Parameter \\#1 \\$array of function array_slice expects array, iterable\\<eZ\\\\Publish\\\\API\\\\Repository\\\\Values\\\\User\\\\Role\\> given\\.$#"
			count: 1
			path: src/lib/Server/Controller/Role.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$arrays of function array_merge expects array, iterable\\<eZ\\\\Publish\\\\API\\\\Repository\\\\Values\\\\User\\\\Policy\\> given\\.$#"
			count: 1
			path: src/lib/Server/Controller/Role.php

		-
			message: "#^Parameter \\#2 \\$error_level of function trigger_error expects int, string given\\.$#"
			count: 4
			path: src/lib/Server/Controller/User.php

		-
			message: "#^Parameter \\#1 \\$message of method Psr\\\\Log\\\\LoggerInterface\\:\\:error\\(\\) expects string\\|Stringable, Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null given\\.$#"
			count: 1
			path: src/lib/Server/Security/RestAuthenticator.php

		-
			message: "#^Parameter \\#1 \\$string of function base64_encode expects string, string\\|false given\\.$#"
			count: 1
			path: tests/bundle/Functional/BinaryContentTest.php

		-
			message: "#^Parameter \\#1 \\$directory of function mkdir expects string, string\\|false given\\.$#"
			count: 1
			path: tests/lib/FieldTypeProcessor/BinaryInputProcessorTest.php
