<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="false"
  colors="true"
  >
  <php>
    <env name="EZP_TEST_REST_HOST" value="localhost:8080"/>
    <env name="EZP_TEST_REST_AUTH" value="admin:publish"/>
  </php>
  <testsuites>
    <testsuite name="eZ Publish REST Bundle">
      <directory>tests/bundle/</directory>
      <exclude>tests/bundle/Functional</exclude>
    </testsuite>
    <testsuite name="eZ Publish REST Functional Tests">
      <directory>tests/bundle/Functional</directory>
    </testsuite>
    <testsuite name="eZ Publish REST">
      <directory>tests/lib/</directory>
      <exclude>tests/lib/Server</exclude>
    </testsuite>
    <testsuite name="eZ Publish REST Server Tests">
      <directory>tests/lib/Server</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>src</directory>
      <exclude>
        <directory>tests/bundle/</directory>
        <directory>tests/lib/</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
